[Unit]
Description=Fix tilde mapping on Macbook Pro

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "echo 0 > /sys/module/hid_apple/parameters/iso_layout"

[Install]
WantedBy=multi-user.target
